.App {
	text-align: center;
}

body {
	font-family: "inter";
	width: auto;
	min-height: 100vh;
	min-width: 500px;
	overflow: auto;
	margin: 0;
}

button {
	border: "none";
	font-weight: "700";
	border-radius: "25px";
	background-color: "darkblue";
	color: "white";
}
